@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Hide the default scrollbar on WebKit-based browsers */
.videoScrollBar::-webkit-scrollbar {
  display: none;
}

/* Track (background) of the scrollbar */
.videoScrollBar::-webkit-scrollbar-track {
  background: none;
}

.playlistItemsparent {
  height: 200px;
  overflow-y: scroll;
}

.child {
  height: 10rem;
  border: solid 2px black;
  width: 100%;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .hs-dropdown-menu {
    translate: 200px !important;
  }
}